<div class="jumbotron text-center">
  <h1>牛肉就快要熟了...</h1>

  <br/><br/>

  <p>不要錯過我們的上線時刻。留下聯絡方式，在第一時間加入我們！</p>

  <div class="form-horizontal form-group form-group-lg row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
      <input type="email" class="form-control" placeholder="請輸入您的 Email" autofocus="autofocus"/>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
        <button disabled={{isDisabled}} class="btn btn-primary btn-lg btn-block">邀請我加入 BETA</button>
    </div>
  </div>

  <br/><br/>
</div>
